body {
    background: black
    
  }



h1{
    text-align: center;
    color: rgb(88, 54, 4);
    font-size: 3em;
    
    
}

img{
    height: 200px;
    width: 175px
}

table{
    background-color: rgb(2, 17, 29);
    border: 1
}

